/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    overflow-x: hidden;
}
body{
    font-family: 'Merriweather', serif;
    
}
p{
    font-size: 13px; 
}
a{
    text-decoration: none;
}

a > button{
    width: 196px;
    height: 44px;
    font-size: 18px;
    color: #2e1114;
    border-radius: 22px;
    border: 1px solid #d1d1d1;
    background-image: linear-gradient(#97caef, #cafafe);
    margin-top: 16px;
    cursor: pointer;
}

/* -------------------------
Header 
--------------------------- */
header{
    font-size: 18px;
    padding-left: 10%;
    padding-top: 4%;
}

/* ---------------------------
Top 
 -------------------------*/
.top{
    display: flex;
    padding-top: 5%;
}
.half-width{
    width: 50%;
    padding-left: 10%; 
}
.half-width h1{
    font-size: 45px;
}

.half-width img{
    background-image: url('images/Circle\ design.svg');
    animation-name: camera;
    animation-duration: 2s;
    transition: 2s ease-in-out;
    transform: scale(1);
    
}
@keyframes camera{
    from{ transform: scale(.8);}
    to{ transform: scale(1);}
}
hr{
    width: 1110px;
    border: 1px solid #d1d1d1;
    margin-bottom: 100px;
    margin-top: 50px;
    
}

/* -----------------------------
Popular Collection  
--------------------------------*/

.products-collection{
    width: 1047px;
    margin-left: 150px;
}
.products-collection > h3{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product{
    width: 300px;
    height: 450px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.08);
    padding: 15px; 
    border-radius: 7px;
}
.product img{
    width: 300px;
    height: 256px;
}
.product-name{
    font-size: 24px; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.price{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.rating{
    font-size: 10px;
}
.fas.fa-star{
    color: #FFC014;  
}
.far.fa-star{
    color: #AEAEAE;
}
.color-grey{
    color: #787885;
}
.see-more {
    float: right;
    margin-top: 30px;
    color: #2e1114;
    font-size: 18px;
}

/* --------------------
subscribe 
-----------------------*/
.subscribe-section {
    background: #f9f9f9;
    padding: 20px 0;
	margin: 70px 100px;
	border-radius: 50px;
	box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.08);
}
.subscribe-container {
    width: 100%;
    text-align: center;
}
.subscribe-section form {
    width: 60%;
    position: relative;
    margin: 0 auto;
}
.subscribe-section form input[type="email"] {
    width: 98%;
    background: #ededed;
	padding: 10px 0px 10px 10px;
	border: none;
}
.subs-form-control {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    font-size: 18px;
    font-weight: 300;
    
    color: #555555;
    border-radius: 30px;
}
.subscribe-section form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 300;
    width: 160px;
}
input[type="submit"] {
    cursor: pointer;
}
.form-button {
    border: 1px solid #d1d1d1;
    background-image: linear-gradient(#97caef, #cafafe);
	color: #2e1114;
}



 

/* -----------------------
footer 
------------------------- */
footer{
    width: 100%;
    height: 200px;
    background-color: #0A0826;
    color: whitesmoke;   
    text-align: center;
}
footer > h2{
    padding-top: 50px;
}

.fab{
    margin-right: 5px;
    color: whitesmoke;
}




/* Mobile  */
@media only screen and (max-width: 576px){
    html{
        overflow-x: hidden;
    }
    header, main{
        width: 100%;
    }
    .top{
        /*  */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;

    }
    .see-more{
        float: left;
    }
    .subscribe-section form{
        width: 100%;
    }
    .subscribe-section {
        margin: 0 ;
    }
}
/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 577px){
    header, main{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }
    .top{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .products-collection{
        margin-left: 0;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;

    }
    .see-more{
        float: left;
    }
    footer{
        width: 100%;
    }
    .subscribe-section{
        width: 100%;
    }
    .subscribe-section form {
        width: 100%;
    }
    .subscribe-section {
        
        margin: 0 ;
    }
}


